h1 {
    color: purple;
}

h2 {
    color: rgb(192, 130, 14);
}

h3 {
    color: rgb(216, 99, 31);
}

h4 {
    color: rgb(71, 33, 209);
}

h5 {
    color: rgb(50, 204, 88);
}

h6 {
    color: rgb(56, 177, 207);
}